body {
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 750px;
}

/* Typography */
a,
input[type='submit'],
input[type='button'],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type='submit'],
input[type='button'],
button,
.ba-button {
  display: inline-block;
}
input[type='submit']:hover,
input[type='button']:hover,
button:hover,
.ba-button:hover {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus {
}
textarea {
}

.ba-main {
  padding: 100px 0;
}

.ba-desk {
  padding: 50%;
  background: #ead8c0;
  position: relative;
}

.ba-desk__top {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 50%;
}

.ba-desk__bottom {
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}

.ba-desk__row:nth-child(1) {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 75%;
}

.ba-desk__row:nth-child(2n) {
  position: absolute;
  top: 25%;
  left: 0%;
  right: 0%;
  bottom: 50%;
}
.ba-desk__row:nth-child(3n) {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  bottom: 25%;
}
.ba-desk__row:nth-child(4n) {
  position: absolute;
  top: 75%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.ba-desk__cell {
  background: #fff;
}

.ba-desk__cell_dark {
  background: #000;
}

.ba-desk__cell:nth-child(1) {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 87.5%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(2n) {
  position: absolute;
  top: 0%;
  left: 12.5%;
  right: 75%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(3n) {
  position: absolute;
  top: 0%;
  left: 25%;
  right: 62.5%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(4n) {
  position: absolute;
  top: 0%;
  left: 37.5%;
  right: 50%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(5n) {
  position: absolute;
  top: 0%;
  left: 50%;
  right: 37.5%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(6n) {
  position: absolute;
  top: 0%;
  left: 62.5%;
  right: 25%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(7n) {
  position: absolute;
  top: 0%;
  left: 75%;
  right: 12.5%;
  bottom: 0%;
}
.ba-desk__cell:nth-child(8n) {
  position: absolute;
  top: 0%;
  left: 87.5%;
  right: 0%;
  bottom: 0%;
}

.ba-desk__cell_dark:after {
  content: '';
  background: #c43c39;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
}

.ba-desk__top .ba-desk__cell_dark:after {
  background: #5b423a;
}

.ba-desk__top .ba-desk__row:nth-child(4n) .ba-desk__cell_dark:after,
.ba-desk__bottom .ba-desk__row:nth-child(1) .ba-desk__cell_dark:after {
  display: none;
}
